@page
@model FUGoodsExchange.Pages.MangeAccount.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Mange Accounts</h1>

<form method="get">
    <select class="form-control" id="SortOption" name="SortOption">
        <option value="name-asc" selected="@((Model.SortOption == "name-asc") ? "selected" : null)">Name Ascending</option>
        <option value="name-desc" selected="@((Model.SortOption == "name-desc") ? "selected" : null)">Name Descending</option>
    </select>

    <select class="form-control" id="FilterOption" name="FilterOption">
        <option value="all" selected="@((Model.FilterOption == "all") ? "selected" : null)">All</option>
        <option value="active" selected="@((Model.FilterOption == "active") ? "selected" : null)">Active</option>
        <option value="inactive" selected="@((Model.FilterOption == "inactive") ? "selected" : null)">Inactive</option>
    </select>

    <button type="submit" class="btn btn-primary">Search</button>
</form>


<table class="table">
    <thead>
        <tr>
            <a asp-page="./Index" asp-route-sortOption="name-asc" asp-route-searchTerm="@Model.SearchTerm" asp-route-filterOption="@Model.FilterOption">
                @Html.DisplayNameFor(model => model.Account[0].Username)
            </a>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Email)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOption="date-asc" asp-route-searchTerm="@Model.SearchTerm" asp-route-filterOption="@Model.FilterOption">
                    @Html.DisplayNameFor(model => model.Account[0].Status)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
