@page
@model FUGoodsExchange.Pages.ModeratorHomePage.ViewReportModel
@{
    ViewData["Title"] = "Admin Report View";
}

<h1>Admin Report View</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New Report</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Seller)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.BuyerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.SellerId)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.ReportId">Edit</a>
                    <a class="btn btn-sm btn-secondary" asp-page="./Details" asp-route-id="@item.ReportId">Details</a>
                    <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.ReportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
